<!DOCTYPE html>
<html>
<head>
	<title>Cadastro - Cadastro de envio de informações Dired</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include ../navbars/navbar-principal %>
	<br>
	<br>
	<section class="conteudo-principal">
		<div class="container">
			<div class="row">
                <div class="col-md-6 offset-md-3 col-10 offset-1">
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Insira seu email aqui.">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="text" class="form-control" id="email" placeholder="Insira o seu e-mail aqui.">
                        </div>
						<div class="form-group">
							<label for="selectTipoUsuario">Eu sou um:</label>
							<select class="form-control" id="selectTipoUsuario">
								<option value="Aluno">Aluno(a)</option>
								<option value="Professor">Professor(a)</option>
								<option value="pais">Pais de aluno(a)</option>
							</select>
						</div>
						<div class="form-group">
                            <label for="email">Escola:</label>
                            <input type="text" class="form-control" id="escola" placeholder="Insira o nome da sua escola.">
                        </div>
						<div class="form-group">
							<label for="selectTipoDired">Dired que pertence a sua escola:</label>
							<select class="form-control" id="selectTipoDired">
								<option value="natal">Natal</option>
								<option value="parnamirin">Parnamirin</option>
								<option value="Nova Cruz">Nova Cruz</option>
								<option value="São Paulo do Potengi">São Paulo do Potengi</option>
								<option>Ceará Mirim</option>
								<option>Macau</option>
								<option>Santa Cruz</option>
								<option>Angicos</option>
								<option>Currais Novos</option>
								<option>Caicó</option>
								<option>Assu</option>
								<option>Mossoró</option>
								<option>Apodí</option>
								<option>Umarizal</option>
								<option>Pau dos Ferros</option>
								<option>João Câmara</option>
							</select>
						</div>
						<div class="form-group">
                            <label for="senha">Escola:</label>
                            <input type="password" class="form-control" id="senha" placeholder="Insira sua senha aqui.">
                        </div>
						<div class="form-group">
                            <label for="repetir-senha">Escola:</label>
                            <input type="password" class="form-control" id="repetir-senha" placeholder="Repita sua senha Insira sua senha aqui.">
                        </div>
						<button type="button" class="btn btn-block btn-success">Realizar cadastro</button>
                    </form> 
					<br><br>                   
                </div>
			</div>	
		</div>
	</section>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>