<!-- Navigation -->

<nav class="navbar navbar-default navbar-static-top navbar-expand-md" role="navigation" style="margin-bottom: 0">
            <div class="brand-admin">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin"><img src="/img/nav-brand.png" height="50px;" alt=""></a>
                <span class="mobile" align="center" style="margin-left:15px;display: inline-block;font-size:16px;">Secretaria da Educação e da Cultura</span>
                <!--<a class="navbar-brand" href="index.html">Admin - Sistema de envio de informações Dired</a>-->
            </div>
            <div class="navbar-default sidebar" style="background-color:#f8f8f800;" role="navigation">
                <div class="sidebar-nav navbar-collapse navbar-admin" style="background-color:#f8f8f800;">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/admin/reports"><i class="fa fa-table fa-fw"></i> Todos os Reports</a>
                        </li>
                        <li>
                            <a href="/admin/escolas"><i class="fa fa-university fa-fw"></i> Escolas</a>
                        </li>
                        <li>
                            <a href="/admin/statistics"><i class="fa fa-bar-chart-o fa-fw"></i> Estatísticas</a>
                        </li>
                        <li>
                            <a href="/admin/maps"><i class="fa fa-map-marker fa-fw"></i> Mapas</a>
                        </li>
                        <li>
                            <a href="/sobre"><i class="fa fa-edit fa-fw"></i> Sobre</a>
                        </li>   
                        <li>
                            <a href="/sair"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
