<!DOCTYPE html>
<html>
<head>
	<title>Login - Sistema de envio de informações Dired</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include components/navbar-principal %>
	<br>
	<br>
	<section class="conteudo-principal">
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4 col-10 offset-1">
					<form id="form-login">
						<center>
							<img src="img/logo.png" width="200px;" class="img-fluid" alt="Responsive image">
						</center>
						<div class="form-group" id="erros">

						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label>
							<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite seu email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Senha</label>
							<input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
						</div>
						<button id="botaoLogin" type="submit" class="btn btn-success btn-block">Entrar</button>
						<hr>
                        <center>
                            Não tem conta? <a href="/cadastro-usuario">Cadastre-se</a>
                        </center>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#form-login').submit(function(event) {
				event.preventDefault();
				var email = $('#email').val();
				var senha = $('#senha').val();
				$.ajax({
                    url:'/login',
                    type:'post',
                    data : {
                        email,
                        senha
                    },
                    success : function(data){
                        if(data.status){
							if(data.tipo=="Servidor"){
								window.location.href = '/admin';
							}else{
								window.location.href = '/report';
							}
							
						}else{
							var msg = "";
							for(let i =0; i<data.erros.length; i++){
								msg += data.erros[i].msg + '<br>';
							}
								let htmlAppend = `<div class="alert alert-danger alert-dismissible fade 					show" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								${msg}
							</div>`;
							$('#erros').append(htmlAppend);
						}
                    }
                });
			});
		});
	</script>
</body>
</html>
