<!DOCTYPE html>
<html>

<head>
	<title>Report - Sistema de envio de informações Dired</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
	<!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/estilo.css" rel="stylesheet">
</head>

<body>
	<% include ../components/usuario/navbar-user %>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h3>Todos os seus reports</h3>
					<%if(reports.length>0){%>
						<%for(let i=0;i<reports.length;i++){%>
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">
										<%=reports[i].titulo%>
									</h5>
									<p class="card-text">
										<%=reports[i].descricao%>
									</p>
									<a href="/ver-reports/<%=reports[i]._id%>" class="btn btn-primary">Ver detalhes</a>
								</div>
							</div>
							<br>
							<%}%>
								<%}else{%>
									<div class="row">
										<div class="col-md-8 offset-md-2">
											<p>Não existem reports</p>
										</div>
									</div>
									<%}%>
										<a href="" type="button" class="btn btn-success btn-block">Enviar novo Report</a>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<% include ../components/footer %>
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			 crossorigin="anonymous"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="/bootstrap/js/bootstrap.min.js"></script>
			<script>
				$(document).ready(function () {
					$('#form-login').submit(function (event) {
						event.preventDefault();
						var usuario = $('#usuario').val();
						var escola = $('#escola').val();
						var assunto = $('#assunto').val();
						var titulo = $('#titulo').val();
						var descricao = $('#descricao').val();
						$.ajax({
							url: '/realizar-report',
							type: 'post',
							data: {
								email,
								senha
							},
							success: function (data) {
								alert('enviado');
							}
						});
					});
				});
			</script>
</body>

</html>