<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Meu Perfil</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Configurações do meta para mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#f8f9fa">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <!--
    <link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/estilo.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/perfil/perfil.css">
</head>

<body>

   <% include ../components/usuario/navbar-user %>
   <br>
<!--
    
    <div style="background-color:lightblue; float: left; width: 23%; text-align: justify; margin-right:0%; height: 300px; margin-left: 10px">
        <img src="/img/nav-brand.png" alt="Perfil" height="300" width="300" >  
    </div> 

    <div style="background-color:lightgray; float: right; width: 75%; text-align: justify; margin-right:0%; height: 300px; margin-right: 10px   ">
          
    </div> 
-->
    <div class="row">
        <div class="col-sm-3" style="background-color: blue">
            <img class="img-fluid" src="/img/nav-brand.png" alt="Perfil" width="300" height="300">  
        </div>
        <div class="col-sm-9" style="background-color: red">
            
        </div>
    </div>
   
</body>

</html>