<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Sistema de envio de informações Dired</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dashboard/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dashboard/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/dashboard/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script> 

</head>

<body>

    <div id="wrapper">

    	<% include ../components/admin/navbar-admin %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Mapa</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    
                    <div id="chart_div" style="width: 700px; height: 500px;"></div>

                    <!-- /.panel -->
                </div>

                <div class="col-lg-4">

                    <form class="form-inline">
                        <label class="mr-sm-2" for="mapa_form">Selecione: </label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="mapa_select">
                            <option value="escolas" selected>Escolas</option>
                            <option value="reclamacoes">Reclamações</option>
                            <option value="sugestoes">Sugestões</option>
                        </select>
                    </form>
                    <br>
                    <!-- Aqui listar os municípios ordenados pelas quantidade de escolas ou de reclamções-->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Município</th>
                            <th>Quantidade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Default</td>
                            <td>Defaultson</td>
                        </tr>      
                        <tr class="table-primary">
                            <td>Primary</td>
                            <td>Joe</td>
                        </tr>
                        </tbody>
                    </table>
                
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dashboard/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dashboard/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Graph JavaScript -->

    <!-- Morris Charts JavaScript -->

    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/dist/js/sb-admin-2.js"></script>

    <script type="text/javascript">

        var chart = [];

        var data = $.ajax({
            url: "/js/geojson/dados.json",
            dataType: "json",
            async: false
            }).responseText;

        data = JSON.parse(data)
        

        $.getJSON( "/js/geojson/rn.json", function( geojson ) {

            var max = 1;
            for(i = 0; i < data[0].length; ++i){
                if(data[0][i][1] > max){
                    max = parseInt(data[0][i][1]);
                }
            }

            // Initiate the chart
            chart = Highcharts.mapChart('chart_div', {
                chart: {
                    map: geojson
                },

                title: {
                    text: 'Escolas'
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },colorAxis: {
                    dataClasses: [{
                        from: 1,
                        to: max/3,
                        color: '#9DA0FF',
                    }, {
                        from: max/3,
                        to: 2*max/3,
                        color: '#4D5ED4',
                    }, {
                        from: 2*max/3,
                        to: max,
                        color: '#272F6B',
                    }]
                },
                plotOptions: {
                    map: {
                        allAreas: false,
                    }
                },
                series: [{
                    data: data[0],
                    keys: ['id', 'value'],
                    name: 'Escolas',
                    joinBy: 'id',
                },{
                    data:null
                }]
            });
        });

        Highcharts.setOptions({
            lang: {
                months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                loading: ['Atualizando o gráfico...aguarde'],
                contextButtonTitle: 'Exportar gráfico',
                decimalPoint: ',',
                thousandsSep: '.',
                downloadJPEG: 'Baixar imagem JPEG',
                downloadPDF: 'Baixar arquivo PDF',
                downloadPNG: 'Baixar imagem PNG',
                downloadSVG: 'Baixar vetor SVG',
                printChart: 'Imprimir gráfico',
                rangeSelectorFrom: 'De',
                rangeSelectorTo: 'Para',
                rangeSelectorZoom: 'Zoom',
                resetZoom: 'Limpar Zoom',
                resetZoomTitle: 'Voltar Zoom para nível 1:1',
            }
        });
    
        
        var titles = ['Escolas', 'Reclamações', 'Sugestões'];
        var colors = [
            ['#9DA0FF','#4D5ED4', '#272F6B'], 
            ['#FE594F', '#E81B2B', '#BD1613'],
            ['#90FF49', '#52912A', '#233D01']
            ];
        var index = 0;
        $('#mapa_select').change(function(e){

            var shallowData = data.slice(0, data[0].length);

            if($(this).val() === 'reclamacoes'){
                var shallowDataR = data[1].slice(0, data[1].length);
                chart.series[0].setData(shallowDataR);

                var max = 1;
                for(i = 0; i < data[1].length; ++i){
                    if(data[1][i][1] > max){
                        max = parseInt(data[1][i][1]);
                    }
                }

                index = 1;
            } else if ($(this).val() === 'sugestoes'){
                var shallowDataS = data[2].slice(0, data[2].length);
                chart.series[0].setData(shallowDataS);

                var max = 1;
                for(i = 0; i < data[2].length; ++i){
                    if(data[2][i][1] > max){
                        max = parseInt(data[2][i][1]);
                    }
                }

                index = 2;
            } else {
                chart.series[0].setData(data[0]);

                var max = 1;
                for(i = 0; i < data[0].length; ++i){
                    console.log(data[0][i])
                    if(data[0][i].value > max){
                        max = parseInt(data[0][i].value);
                    }
                }
                index = 0;
            }

            chart.update({
                title: {
                    text: titles[index]
                }, 
                series: {
                    name: titles[index],
                }, colorAxis: {
                    dataClasses: [{
                        from: 1,
                        to: max/3,
                        color: colors[index][0],
                    }, {
                        from: max/3,
                        to: 2*max/3,
                        color: colors[index][1],
                    }, {
                        from: 2*max/3,
                        to: max,
                        color: colors[index][2],
                    }]
                }
            });

        
        });
    
    </script>

</body>

</html>