<footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container text-center">
            <div class="footer-logo">
                <a href="http://ejectufrn.com.br/" target="_blank"><img class="img-responsive" src="{% static 'sitio/images/logo.png' %}" alt="EJECT"></a>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a class="envelope" href="mailto:contato@ejectufrn.com.br"><i class="fa fa-envelope"></i></a></li>
                    <li><a class="instagram" target="_blank" href="http://instagram.com/ejectufrn/"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">&copy; 2017 - <a href="http://ejectufrn.com.br/">Empresa Júnior da Escola de Ciências e Tecnologia</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>