<!DOCTYPE html>
<html>
<head>
	<title>Sobre</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Configurações do meta para mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="#f8f9fa">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#f8f9fa">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<!--
	<link rel="icon" href="imagens/favicon.png">
-->
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/estilo.css" rel="stylesheet">
</head>
<body>
	<% include ../components/navbar-principal %>
	<br>
	<br>
	<section class="conteudo-principal">
		<div class="container">
			<h2>Comunica-EDU</h2>
			<p> Este sistema tem o objetivo de facilitar a comunicação entre alunos, professores, gestores e pais. Por ele é possível comunicar problemas, fazer elogios e até emitir avisos sobre ocorridos em uma determinada escola. A direção destas e a SEEC/RN ficam cientes de tudo que é reportado e podem tomar as medidas cabíveis para solucionar problemas, prover melhorias estruturais, entre outros.</p>

			<h2>Secretaria da Educação e da Cultura</h2>
			<p>
				A Secretaria de Estado da Educação e da Cultura – SEEC/RN, integrante da Administração Pública Estadual Direta, nos termos da Lei Complementar nº 163, de 05 de fevereiro de 1999, é uma organização base da Administração Estadual para planejamento, organização, direção, controle e execução dos programas e projetos destinados à implementação da política governamental nos setores de educação e cultura.
			</p>
			<p>
				Sua missão é garantir à população um ensino público de qualidade, assegurando-lhe a universalização do acesso e permanência dos alunos à escola, visando o pleno exercício da cidadania.
			</p>

			<img src="img/sigeduc.JPG" class="rounded mx-auto d-block img-fluid"> 
			<br>
			<br>

			<p>Para acessar o site da SEEC acesse o <a href="http://www.educacao.rn.gov.br/" >link</a>.</p>
			<p>Para acessar o site do SIGEduc acesse o <a href="https://sigeduc.rn.gov.br" >link</a>.</p>
			
		</div>
	</section>
</body>
</html>
